@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-gray: #221d1d;
  --secondary-gray:#807d7d;
  --tertiary-gray:#f7f7f7;
  --button-border-gray: #f0f0f0;
  --gho-bg-green: #00bd1f;
  --app-bg-purple:#9896ff;
  --icon-primary-gray:#8f8f8f;
  --icon-secondary-gray:#bdbbbb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(32, 29, 29, 0.15);
  border-radius: 100px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
